header{
    background-color: #EEEFF1;;
    width: 100%;
}

a{
    text-decoration: none;
    color: #000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
}

h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 20px;
}

.conteiner{
    margin-left: 20.83%;
    max-width: 1110px;
}

.navigation{
    padding-bottom: 150px;
    padding-top: 80px;
}

.navigation>li {
    display: inline-block;
    margin-right: 42px;

}


.navigation>li:last-child{
    margin-right: 0;
}

.backgroundGrey{
    width: 100%;
    background-color: #EEEFF1;
    padding-bottom: 141px;
}

.homepageNavButton{
    color: #34547A;
}

.conteiner2{
    max-width: 540px;
    box-sizing: border-box;
}

.conteiner2>h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    margin-bottom: 60px;
}

.conteiner2>p{
    color: #727272;
    margin-bottom: 65px;
}

.buttonWriteMe{
    display: block;
    max-width: 41.66%;
    background-color: #34547A;
    color: white;
    padding: 19.5px 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
}

.secWhite{
    background-color: white;
    padding: 112px 0 100px;
}

.wrapperMidle{
    text-align: center;
    margin: 0 auto;
}

.wrapperMidle>p{
    margin: 50px 0 0 0;
}

.secBlue{
    background-color: #34547A;
    margin: 0 auto;
    padding: 100px 0;
}

.wrapperMidle>img{
    width: 141px;
    height: 50px;
    margin: 0 22.5px;
}

.secGrey{
    padding: 100px 0;
    background-color: #EEEFF1;
}

iframe{
    margin: 57px 0 100px 20.833%;

}

footer{
    background-color: #34547A;
    color: white;
    padding: 50px 0;
}

footer>p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
}

